<h1>Welcome to Music For Good</h1>
<p>@Html.ActionLink("See all playlists", "Index", "Playlists")</p>
<p>@Html.ActionLink("Create a new playlist", "Create", "Playlists")</p>
<p>@Html.ActionLink("Add a new song", "Create", "Songs")</p>
<p>@Html.ActionLink("See all Songs", "Index", "Songs")</p>